div{
  vertical-align: middle;
  display: inline-block;
}
#container{
  display: block;
  padding:5px;
}
p{
  
  font-size: small;
  margin:1px;
}
#info{
  margin-left: 5px;
  width: 130px;
}
#profile{
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

button{
  height: 25px;
  width: 55px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color:rgb(65,147,239);
  color: white;
  border-style: solid;
  border-width: 0px;
  border-radius: 3px;
}