img{
  display: block;
  width: 500px;
  margin-left: 150px;
  margin-top: 200px;
}
#google{
  color: gray;
  height: 45px;
  width: 600px;
  box-shadow: 1px 1px 3px gray;
  border-radius: 28px;
  border-style: solid;
  font-size: medium;
  padding-left: 15px;
  border-width: 1px;
  margin-left: 100px;
}